.gender-selected img, .gender-card img{
  height: 120px;
}

.font-300-black{
  font-weight: 300;
  color: black;
}

.font-300{
  font-weight: 300;
}

.gender-card{
  cursor: pointer;
}

.gender-card:hover{
  background: #fdcc9c57;
}

.home-page{
  margin-top: 40%;
}

.isActive{
  background: #fdcc9cd1;
}

.gray-out{
  opacity: 0.2;
  filter: alpha(opacity=50)
}
.form-control {
  font-size: 1.5rem;
}

.gender-selected{
  border-radius: 50%;
}

.cursor-pointer{
  cursor: pointer;
}

.profile-pix img{
  height: 35px;
  background: rgb(127, 214, 127);
  border-radius: 50%;
  padding: 3px;
}

.text-small{
  font-size: 10px;
  font-style: italic;
  color: #a58260;
  margin-bottom: 0;
  border-bottom: 1px solid #7fd67f;
}

.key{
  padding: 5%;
}

.key ul{
  margin: 0;
  padding: 0;
}

.key ul li{
  float: left;
  list-style: none;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 12px;
}
.score-text h1{
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

.min-height{
  min-height: 300px;
}

.carousel-indicators li {
  background-color: #4caf50;
}

.carousel-control-prev, .carousel-control-next {
  background: transparent;
  background: transparent;
  top: 276px;
  width: 50%;
}

.carousel a{
  color: #fd7dad;
}

.carousel a:hover, .carousel a:active, .carousel a:focus, .carousel a:visited, .carousel a::before{
  color: #fd7dad;
}

.carousel .fa{
  background: #ee5575;
  padding: 2px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}